name: Build
concurrency:
  group: "${{ github.repository }}${{ github.ref }}build"
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main
      - develop

jobs:
  build:
    name: Build
    if: github.event.pull_request.user.login != 'dependabot[bot]' && ((github.event_name == 'push' && github.repository == 'otterize/otterize-cli') || github.event.pull_request.head.repo.full_name == 'otterize/otterize-cli')
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out the code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          submodules: recursive

      - uses: actions/setup-go@v3
        with:
          go-version: '1.21.0'

      - name: Install dependencies
        if: matrix.os == 'macos-latest'
        run: |-
          brew install coreutils

      - name: Import Code-Signing Certificates
        if: matrix.os == 'macos-latest'
        uses: apple-actions/import-codesign-certs@253ddeeac23f2bdad1646faac5c8c2832e800071
        with:
          # The certificates in a PKCS12 file encoded as a base64 string
          p12-file-base64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          # The password used to import the PKCS12 file.
          p12-password: ${{ secrets.P12_PASSWORD }}

      - name: Install dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |-
          sudo apt install -y coreutils

      - uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser-pro
          version: latest
          args: release --clean --split
        env:
          GITHUB_TOKEN: ${{ secrets.OTTERIZEBOT_GITHUB_TOKEN }}
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          CGO_ENABLED: "1"

      - shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          path: dist/linux
          name: linux-${{ env.sha_short }}
      - uses: actions/upload-artifact@v3
        if: matrix.os == 'macos-latest'
        with:
          path: dist/darwin
          name: darwin-${{ env.sha_short }}
      - uses: actions/upload-artifact@v3
        if: matrix.os == 'windows-latest'
        with:
          path: dist/windows
          name: windows-${{ env.sha_short }}

